[submodule "tests/amdjs"]
	path = tests/amdjs-tests
	url = git@github.com:gigafied/amdjs-tests.git
[submodule "tests/amdjs-tests"]
	path = tests/amdjs-tests
	url = git@github.com:gigafied/amdjs-tests.git
